DOMAINSMANAGER_DATABASE_URL=postgresql+asyncpg://domainsmanager:change-me@localhost/domainsmanager
DOMAINSMANAGER_SERVER_HOST=127.0.0.1
DOMAINSMANAGER_SERVER_PORT=7920
DOMAINSMANAGER_REGISTRATION_ENABLED=false
DOMAINSMANAGER_DOCS_ENABLED=true
